<div class="row">
  <div class="col s12">
    <div class="component">
      <div class="component-title">
        <h2>New Blog</h2>
      </div>
      <div class="component-body">
        <div class="row">
          <div class="input-field col s6">
            <input id="title" type="text" class="validate">
            <label class="active" for="title">Blog Title</label>
          </div>

          <div class="input-field col s6">
            <input id="slug" type="text" class="validate">
            <label class="active" for="slug">Blog Slug</label>
          </div>

          <div class="input-field col s12">
            <input id="description" type="text" class="validate">
            <label class="active" for="description">Description</label>
          </div>
          
          <div class="clear"></div>


          <div class="col s6">
            <div class="input-field">
              <textarea [(ngModel)]="body" (keyup)="updateOutput($event.target.value)" id="" cols="30" rows="30"></textarea>
            </div>
          </div>

          <div class="col s6">
            <div [innerHTML]="convertedText" class="rendered-article">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>