<div class="component">
  <div class="component-title">
    <h2>New Users <i class="ion ion-person-add"></i></h2>
  </div>
  <div class="component-body">

    <div class="row total-users center-align">
      <div class="col l6">
        <p>Total Users: <span>{{ totalUsers }}</span></p>
      </div>
      <div class="col l6">
        <p>This Week: <span>+ {{ weekGrowth }}</span></p>
      </div>
    </div>

    <table>
      <thead>
        <th>Avatar</th>
        <th>Username</th>
        <th>Email</th>
        <th>Provider</th>
        <th>Provider ID</th>
        <th>Date Joined</th>
        <th>View</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>  
            <img class="circle responsive-img" src="https://avatars1.githubusercontent.com/u/3332224?v=3&s=460"/>
          </td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.provider }}</td>
          <td>{{ user.provider_id }}</td>
          <td>{{ user.created_at }}</td>
          <td>
            <a routerLink="/users/edit/{{ user.id }}" class="btn-floating"><i class="ion ion-ios-search">add</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>