<div class="component">
  <div class="component-title">
    <h2>Site Settings</h2>
  </div>
  <div class="component-body">
    <div class="row">
      <div class="input-field col s6">
        <input id="site_title" type="text" length="24">
        <label class="active" for="site_title">Site Title</label>
      </div>

      <div class="input-field col s6">
        <input id="site_url" type="text" length="24">
        <label class="active" for="site_url">Website Url</label>
      </div>

      <div class="input-field col s6">
        <input id="tag_line" type="text" length="24">
        <label class="active" for="tag_line">Tag Line</label>
      </div>

      <div class="input-field col s6">
        <input id="email" type="text" length="24">
        <label class="active" for="email">Email Address</label>
      </div>

      <div class="col s6">
        <p>
          <input type="checkbox" class="filled-in" id="crawlable" checked="checked" />
          <label for="crawlable">Make Site Crawlable</label>
        </p>
      </div>
    </div>
  </div>
</div>