<div class="component">
  <div class="component-title">
    <h2>Top Articles <i class="ion ion-document"></i></h2>
  </div>
  <div class="component-body">


      <table>
      <thead>
        <th>Author</th>
        <th>Title</th>
        <th>Date Posted</th>
        <th>Twitter Shares</th>
        <th>Views</th>
        <th>View</th>
      </thead>
      <tbody>
        <tr>
          <td>  
            <img class="circle responsive-img" src="https://avatars1.githubusercontent.com/u/3332224?v=3&s=460"/>
          </td>
          <td>Angular 2 Fundamentals</td>
          <td>12-03-2016</td>
          <td>2322 Tweets</td>
          <td>23,354</td>
          <td>
            <a class="btn-floating"><i class="ion ion-ios-search">add</i></a>
          </td>
        </tr>
        <tr>
          <td>  
            <img class="circle responsive-img" src="https://avatars1.githubusercontent.com/u/3332224?v=3&s=460"/>
          </td>
          <td>Angular JS Fundamentals</td>
          <td>12-03-2016</td>
          <td>2322 Tweets</td>
          <td>23,354</td>
          <td>
            <a class="btn-floating"><i class="ion ion-ios-search">add</i></a>
          </td>
        </tr>
        <tr>
          <td>  
            <img class="circle responsive-img" src="https://avatars1.githubusercontent.com/u/3332224?v=3&s=460"/>
          </td>
          <td>Artificial Intelligence</td>
          <td>12-03-2016</td>
          <td>2322 Tweets</td>
          <td>23,354</td>
          <td>
            <a class="btn-floating"><i class="ion ion-ios-search">add</i></a>
          </td>
        </tr>
        <tr>
          <td>  
            <img class="circle responsive-img" src="https://avatars1.githubusercontent.com/u/3332224?v=3&s=460"/>
          </td>
          <td>3D Game Programming</td>
          <td>12-03-2016</td>
          <td>2322 Tweets</td>
          <td>23,354</td>
          <td>
            <a class="btn-floating"><i class="ion ion-ios-search">add</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>