<div class="row">
	<div class="col s12 m8 l8">
		<div class="component">
			<div class="component-title">
				<h2>All Articles</h2>
			</div>
			<div class="component-body">
        <br/>
				<table>
					<thead>
						<th>Author</th>
						<th>Article</th>
						<th>Date Posted</th>
						<th>Date Updated</th>
						<th>Views</th>
						<th>Edit</th>
					</thead>
					<tbody>
						<tr *ngFor="let article of articles">
							<td>
								<img class="circle responsive-img" src="https://avatars1.githubusercontent.com/u/3332224?v=3&s=460" />
							</td>
							<td>{{ article.title }}</td>
							<td>{{ article.created_at }}</td>
							<td>{{ article.updated_at }}</td>
							<td>{{ article.views }}</td>
							<td>
								<a routerLink="/article/edit/{{ article.id }}" class="btn-floating"><i class="ion ion-ios-search">add</i></a>
							</td>
						</tr>
					</tbody>
				</table>

				<ul class="pagination">
					<li class="disabled"><a href="#!"><i class="ion ion-chevron-left"></i></a></li>
					<li class="active"><a href="#!">1</a></li>
					<li class="waves-effect"><a href="#!">2</a></li>
					<li class="waves-effect"><a href="#!"><i class="ion ion-chevron-right"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col s12 m4 l4">
    <div class="component">
      <div class="component-title">
        <h2>Actions</h2>
      </div>
      <div class="component-body">
        <button routerLink="/article/new" class="btn">New Article</button>
      </div>
    </div>

		<div class="component">
			<div class="component-title">
				<h2>Search</h2>
			</div>
			<div class="component-body">
				<br/>
				<div class="input-field">
					<input id="article_title" type="text" class="validate">
					<label class="active" for="article_title">Article Title</label>
				</div>
				<div>
					<button class="btn" type="submit" name="action"><i class="ion ion-search"></i> Search</button>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>