<div class="row">
  <div class="col s8">
    <div class="component">
      <div class="component-title">
        <h2>User: {{ id }}</h2>
      </div>
      <div class="component-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tenetur pariatur, ut eius necessitatibus consequatur praesentium reprehenderit voluptates expedita repudiandae ab quasi perferendis possimus eum odit suscipit perspiciatis, nobis et.
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="component">
      <div class="component-title">
        <h2>Actions</h2>
      </div>
      <div class="component-body">
        <button class="btn">Delete User</button>
      </div>
    </div>
  </div>
</div>