/* You can add global styles to this file, and also import other style files */
body {
  background-color: #eff3f8;
}

.clear {
  clear :both;
}

.component {
  background-color: white;
  padding:20px;
  margin-top: 20px;
}

.component-title {
    border-bottom: 1px solid #eee;
}

.component-title h2 {
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  color: #29b4b6!important;
}

.component-body {
  padding-top: 2r0px;
}

table img {
  width: 25px;
  height: 25px;
}

table thead th {
    font-weight: 600;
    font-size: 13px;
    color: #93a2a9;
    border: 0;
    border-bottom: 1px solid #F2F5F8;
}

.component-body {
  margin-top: 40px;
}

.clear {
  clear: both;
  height: 40px;
}
.input-field {
  margin-top: 0;
}

.rendered-article {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
  min-height: 671px;
  h1, h2, h3, h4, h5{
        font-weight: normal;
        font-family: 'Museo Slab','Helvetica','Arial',sans-serif;
        letter-spacing: -1px;
        line-height: 1.3;
        margin: 10px 0;
    }
    
    h1{
        font-size: 55px;
    }

    h2{
        font-size: 25px;
    }

    h3 {
        font-size: 22px;
        font-weight: normal;
    }

    h4{
        font-size: 18px;
        font-weight: normal;
    }

    h5 {
        font-size: 20px;
    }
    
    .info{
        margin-bottom: 20px;
        margin-top: 20px;
        color: $light-gray;
        
        p{
            margin: 0;
            padding: 0;
        }
        
    }
    
    pre {
        color: white;
    }

    @include breakpoint(mobileonly){
         pre {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: -40px;
            margin-right: -40px;
            padding: 5px;
            background-color: #272822;
        }
    }
    
    @include breakpoint(phablet){
         pre {
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: -40px;
            margin-right: -40px;
            padding: 60px;
            background-color: #272822;
        }
    }
    
    @include breakpoint(tablet){
         pre {
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: -40px;
            margin-right: -40px;
            padding: 60px;
            background-color: #272822;
        }
    }
    @include breakpoint(laptop){
         pre {
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: -40px;
            margin-right: -40px;
            padding: 60px;
            background-color: #272822;
        }
    }

   
    
    .tip{
        background-color: $pale-white;
        padding: 20px;
        text-align: center;
        .large{
            font-size: 24px;
            font-weight: 800;
            width: 100%;
        }
    }
    
    .post-body{
        background-color: white;
        padding: 40px;     

        .post-title{  

            .info{
                float: left;
                padding-top: 14px;
                text-align: center;
                min-width: 95px;
                float: left;
                display: block;
                font-size: 16px;
                color: rgb(186, 186, 186);
                padding: 0px 12px;
                
                span{
                    display: inline;
                    margin-left: 40px;
                    margin-right: 40px;
                }
            
            }

            h1{
                margin-top: 0;
                font-size: 38px;
                margin-bottom: 40px;
                padding-bottom: 40px;
                border-bottom: 1px solid #ECEFF2;
            }
        }
        h1{
            font-size: 30px;
        }

        ul{
            li{
                list-style-type: circle;
                margin-left: 40px;
            }
        }

        
        .recommended-articles{
            
            .article{
                width: 100%;
                padding: 20px;
                border: 1px solid $pale-white;
                margin-bottom: 20px;
                
                h2{
                    margin: 0;
                    padding: 0;
                    margin-bottom: 10px;
                    font-size: 22px;
                }
                
                p{
                    color: $light-gray;
                    text-overflow:ellipsis;
                    font-size: 17px;  
                }
                
                .url{
                    font-size: 14px;
                }
                
            }
            
            
        }
    }
    
    .result{
        margin-bottom: 40px;
        button{
            background-color: $light-blue;
        }
        
    }

}

textarea, #editor div {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

code {
  color: #f66;
}