/* You can add global styles to this file, and also import other style files */
body {
  background-color: #eff3f8;
}

.clear {
  clear :both;
}

.component {
  background-color: white;
  padding:20px;
  margin-top: 20px;
}

.component-title {
    border-bottom: 1px solid #eee;
}

.component-title h2 {
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  color: #29b4b6!important;
}

.component-body {
  padding-top: 2r0px;
}

table img {
  width: 25px;
  height: 25px;
}

table thead th {
    font-weight: 600;
    font-size: 13px;
    color: #93a2a9;
    border: 0;
    border-bottom: 1px solid #F2F5F8;
}

.component-body {
  margin-top: 40px;
}

.clear {
  clear: both;
  height: 40px;
}
.input-field {
  margin-top: 0;
}

.rendered-article {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
  min-height: 671px;
}

textarea, #editor div {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

code {
  color: #f66;
}