<div class="component">
  <div class="component-title">
    <h2>New Comments <i class="ion ion-ios-chatbubble-outline"></i></h2>
  </div>
  <div class="component-body">
    <table>
      <thead>
        <th>Avatar</th>
        <th>Username</th>
        <th>Comment</th>
        <th>Time Posted</th>
        <th>View</th>
      </thead>
      <tbody>
        <tr>
          <td>  
            <img class="circle responsive-img" src="https://avatars1.githubusercontent.com/u/3332224?v=3&s=460"/>
          </td>
          <td>Elliot Forbes</td>
          <td>Lorem ipsum dolor sit amet....</td>
          <td>2016-12-14</td>
          <td>
            <a class="btn-floating"><i class="ion ion-ios-search">add</i></a>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>